@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    width: 100%;
}
header.sticky{
    background: rgba(255, 255, 255, 1);
}
.logo {
    flex: 1;
}

.logo img {
  max-width: 100%;
}

.menu {
    flex: 2;
    display: flex;
}

.menu li {
    padding: 0 12px;
    position: relative;
}
.menu li a{
    position: relative;
}
.menu li a::after{
    content: "";
    height: 3px;
    width: 0px;
    background: tomato;
    position: absolute;
    bottom: -5px;
    left: 0px;
    transition: all 0.5s ease-out;
    border-radius: 30px;
    
}
.menu li:first-child a::after{
    width: 100%;
}
.menu li a:hover::after{
    width: 100%;
}
.menu li:hover .sub_menu {
    display: block;
    visibility: visible;
    top: 50px;
   
}

.sub_menu {
    position: absolute;
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index:1;
    background-color: #fff;
}

.sub_menu li a {
    font-weight: normal;
    font-size: 12px;
}

.sub_menu ul {
    padding-left: 20px;
}

.menu>li a {
    font-size: 14px;
    font-weight: 500;
    display: block;
    line-height: 25px;
}

.others {
    flex: 1;
    display: flex;
}

.others > li {
    padding: 0 12px;
    position: relative;
}
.others > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 70%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.others li:last-child::after{
    display: none;
}

.others li:first-child {
    position: relative;
}

.others li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
}

.others li:first-child i {
    position: absolute;
    right: 10px;
}
#silder{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
    padding-top: 70px;
}
/* silder */
.row{
    display: flex;
    flex-wrap: wrap;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
    transition: all 0.5s ease-in-out;

}
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
}

.dot_container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}
.home_new_prod .title_section{
    padding-top: 30px;
    margin-bottom: 40px;
}
.list-promote{
    display: flex;
    justify-content: space-between;

}
.itm-promote{
    padding: 10px 10px;
}
.itm-promote img{
        max-width: 100%;
        height: auto;
        border-radius: 20px;
}
.itm-promote img:hover{
    filter: opacity(80%);
}
.title_section{
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 30px;
    line-height: 32px;
    color: #221f20;
}
ul.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
ul.products li .product-info{
    padding: 10px 0px;
}
ul.products li .product-info a{
    display: block;

}
.product-name{
    color: #57585A;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.product-name:hover{
    color: darkred;
}
.product-price{
    color: #111;
    padding: 2px 0;
    font-weight: 600;
}
ul.products li .product-top{
    position: relative;
    overflow: hidden;

}
ul.products li:hover .buy-now{
    bottom: 0px;
}
.product-thumb img{
    display: block;
}
.product-thumb img:hover{
    filter: opacity(80%);

}
.buy-now{
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-color:rgba(6, 6, 6, 0.5);
    color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: -40px;
    width: 100%;
    transition: 0.25s ease-in-out;
}
.banner-product{
    padding:30px 30px 30px;
}
.banner-product img{
    width: 100%;
    height: 400px;
    border-radius: 80px 0 80px 0;
    vertical-align: middle;

}
/* footer */
.box-first-footer {
    width: 100%;
    height: 400px;
    padding: 55px 15px 45px 15px;
    background-color: #F6F6F6;
    border-bottom: 1px solid rgb(204, 202, 202);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.contact {
    width: 317.750px;
    height: 205.391px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 15px;
}

.contact h2 {
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.contact .in {
    line-height: 40px;
    color: var(--color-text);
}

.contact .in a {
    text-decoration: none;
    color: var(--color-text);
    transition: all 0.2s ease-in-out;
}

.contact .in a:hover {
    color: var(--Hover-icon);
}

.box-email {
    display: flex;
    margin-bottom: 25px;
}

.box-email input {
    width: 224.750px;
    height: 50px;
    padding: 0 15px;
    border: none;
    outline: none;
}

.box-email button {
    border: none;
}

.box-email i {
    font-size: 25px;
    padding: 0 20px;
    color: white;
    line-height: 2;
    background-color: var(--color-text);
    cursor: pointer;
}

.box-email i:hover {
    background-color: var(--Hover-icon);
}

.icon-contact li {
    list-style: none;
    display: inline-block;
    transition: 0.4s;
}

.icon-contact li:hover {
    color: var(--Hover-icon);
}

.icon-contact ul li:first-child {
    margin-right: 10px;
}

.icon-contact ul li:nth-child(2) {
    margin: 0px 10px;
}

.icon-contact ul li:nth-child(3) {
    margin: 0 10px;
}
.icon-contact ul li:last-child {
    margin-left: 10px;
}

.box-second-footer {
    width: 100%;
    height: 72px;
    padding: 10px 15px;
    background-color: #F6F6F6;
}

.box-second-footer .first-box{
    width: 100%;
    height: 52px;
    padding: 10px 15px;
    /* background-color: #5E2BFF; */
    line-height: 2.5;
}
.box-second-footer .first-box .title {
    font-size: 14px;
    color: var(--color-text);
    display: flex;
    justify-content: center;
}


