body {
    width: 50%;
    margin: auto;
}

.box_body {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.box_header {
    display: flex;
    justify-content: space-between;
}

.items_box_header ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.items_box_header ul li {
    display: inline;
}

.items_box_header ul a {
    text-decoration: none;
    float: left;
    width: 80px;
    color: black;
    text-align: center;
}

.container input#search {
    border-radius: 5px;
}
.box_tbody{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.items_box_tbody_2{
    padding-left: 10px;
    margin-bottom: 20px;
    border-left: 4px solid pink;
    position: relative;
}
.items_box_tbody_2 img{
    height: 30px;
    width: 30px;
    border: 2px solid rgb(198, 42, 42);
    border-radius: 50%;
}
.items_box_tbody_2_img{
    display: inline-flex;
}
.items_box_tbody_3 > button{
    height: 50px;
    width: 150px;
    background-color: orange;
    color: white;
    border-radius: 50px;
    border: 0px;
}
.items_box_tbody_4 img{
    height: 20px;
    width: 15%;
    border: 2px solid white;
    margin-left: 10px;
    border-radius: 10px;
    display: inline;
}
.items_box_tbody_5 {
    position: relative;
}
#img_11{
    height: 80px;
    position: absolute;
    border-radius: 10px;
    bottom: 300px;
    right: 150px;
}
#img_10{
    height: 370px;
    width: 200px;
}
#img_06{
    position: absolute;
    right: 340px;
}
#img_07{
    position: absolute;
    right: 320px;
}#img_08{
    position: absolute;
    right: 300px;
}#img_09{
    position: absolute;
    right: 280px;
}
.box_footer{
    background-color: aliceblue;
}
.items_box_footer{
    text-align: center;
    padding-top: 30px;
}
.items_box_footer_1{
    display: flex;
   justify-content: space-around;
   padding-top: 20px;
}
.items_box_footer_icon img{
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.items_box_footer_icon p{
    font-size: small;
    color: gray;
   
}

